.about__three-steps-title{
font-family: 'DrukTextWideCy';
font-style: normal;
font-size: 32px;
line-height: 2;
letter-spacing: -0.05em;
margin-bottom: 16px;  
}

@media screen and (max-width:900px){
  .about__three-steps-title{
   font-size: 24px;
   line-height: 1.2;
   max-width: 325px;
   text-align: center; 
   margin: 48px 0 34px; 
  }
}

@media screen and (max-width:530px){
  .about__three-steps-title{
   margin: 48px auto 20px; 
  }
}

