.form{
  padding: 80px 0 40px;
  border-radius: 50px 50px 0 0;
  background-image: url(../../images/form/form-section__background.png)
}


@media screen and (max-width:900px){
  .form{
     padding: 40px 0 20px;
  }
}

@media screen and (max-width:530px){
  .form{
     padding: 40px 12px 20px;
  }
}