.form__button{
  transform: skew(0, 3deg);
  background-color: #FFCF33;
  border: 0;
  padding: 20px 37px;
  border-radius: 30px;
  font-family: 'Inter', Arial, sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.6;
  cursor: pointer;
  width: 100%;
  margin: 29px 0 43px;
 
}
