.about__image-1{
  position: absolute;
  top:0;
  right:-30px;
  z-index: -1;
}


@media screen and (max-width:1280px){
  .about__image-1{
    right:-100px;
  }
}

@media screen and (max-width:1135px){
  .about__image-1{
    right:-250px;
  }
}

@media screen and (max-width:985px){
  .about__image-1{
    display: none;
  }
}