.prizes{
padding: 80px 30px 0 112px;
max-width: 1440px;  
margin:auto;  
}

@media screen and (max-width:1280px){
  .prizes{
    padding:80px 30px 0 50px;
  }
}

@media screen and (max-width:900px){
  .prizes{
    padding:40px 30px 0 50px;
  }
}


@media screen and (max-width:665px){
  .prizes{
    padding:40px 30px 0 20px;
  }
}

@media screen and (max-width:530px){
  .prizes{
    padding:40px 15px 0 15px;
  }
}
