.about__buttons{
  display: flex;
  justify-content: space-between;
  max-width:580px;
  margin:80px auto;
  padding: 0;
}

@media screen and (max-width:800px){
  .about__buttons{
  
    margin:52px 10px 52px -10px;
  }
}



@media screen and (max-width:665px){
  .about__buttons{
    flex-direction: column;
    align-items: flex-start;
    max-width:350px;
    margin:52px 0;
  }
}

@media screen and (max-width:530px){
  .about__buttons{
    margin:52px auto 40px;
  }
}

.about__button:hover{
 background-color: black;
 color: #FFCF33;
}


