.footer__disclaimer{
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 1.5;
letter-spacing: 0.025em;
color: #ABAEB0;
max-width: 555px;
padding-right:25px; 

/*! align-self: flex-start; */
}

@media screen and (max-width:900px){
  .footer__disclaimer{
       padding:0; 
        text-align: center;
  }
}

.footer__disclaimer > a:hover{
       text-decoration: none;
  }
