.prize__image{
max-width:325px;
}

@media screen and (max-width:900px){
  .prize__image{
    order:-1;
    width:100%;
  }
}

@media screen and (max-width:530px){
  .prize__image{
   margin: auto;
  }
}

