.prize{
  display: grid;
  grid-template-columns: minmax(min-content, max-content) 1fr;
  grid-auto-rows: 1fr; 
  grid-gap: 78px;
  padding:0 0 104px;
  justify-items: center;
}

@media screen and (max-width:900px){
  .prize{
    grid-template-columns: minmax(min-content, max-content);
    grid-template-rows: minmax(min-content, max-content);
    grid-gap: 45px;
    padding:0 0 72px;
    justify-items: start;
  }
   .prize:first-of-type{
  padding:32px 0;
}
}

.prize:first-of-type{
  padding:54px 0 72px;
}


@media screen and (max-width:665px){
  .prize:first-of-type{
  padding:32px 0 72px;
  }  
}


@media screen and (max-width:530px){
  .prize{
    grid-gap: 32px;
    padding:0 0 32px;
  }
  .prize:first-of-type{
  padding:32px 0;
}
  
  .prize:last-of-type{
  padding:0 0 45px;
}
}

@media screen and (max-width:360px){
  .prize{
    justify-items: center;
  }
  
}