.header__subtitle {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.3;
  margin: 0 auto 64px;
  max-width: 588px;
  text-align: center;
}


@media screen and (max-width:900px){
  .header__subtitle{
    font-size: 14px;
  line-height: 1.4;
    max-width: 400px;
  }
}

@media screen and (max-width:530px){
  .header__subtitle{
    max-width:275px;
}


