.form__label{
  display: inline-block;
  margin: 0 0 15px;
  transform: skew(0, 3deg);
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  height: 26px;
}

div > .form__label{
  transform: none;
}