.prize__title{
font-family: 'Inter', Arial, sans-serif;
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 1.3;
margin-top: 0;  
}

@media screen and (max-width:780px){
  .prize__title{
     font-size: 20px;
  }
}
