.footer{
background-color: #f1f3f3;
padding: 0 32px 64px;
display: flex;
justify-content: flex-start;
}

@media screen and (max-width:900px){
  .footer{
       flex-direction: column;
       align-items: center;
       padding: 0 32px 20px;
  }
}